# AWS Config
AWS_SECRET_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_TOPIC_ARN=
AWS_CW_LOG_GROUP_NAME=
AWS_CW_LOG_STREAM_NAME=

# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
